/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* line 5, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/mac/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
.image {
  background-image: url("../img/bac.jpeg");
  display: flex;
  background-size: 100%;
  overflow-x: hidden;
}

/* line 14, ../sass/screen.scss */
.art {
  width: 50%;
  margin-right: -10%;
}

/* line 19, ../sass/screen.scss */
.deplacer {
  margin-right: -50%;
}

/* line 23, ../sass/screen.scss */
.rest {
  margin-right: 20%;
  margin-left: 3%;
  margin-top: 5%;
}

/* line 29, ../sass/screen.scss */
.il {
  color: white;
}

/* line 33, ../sass/screen.scss */
.bn {
  width: 30%;
  margin-top: 18%;
  margin-left: 7%;
  background-color: #FDB73A;
  border-radius: 45%;
}

/* line 41, ../sass/screen.scss */
.ecrit {
  background-color: #1C3C58;
  width: 40%;
  margin-left: 30%;
  margin-top: 7%;
}

/* line 48, ../sass/screen.scss */
h3 {
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  color: white;
}

/* line 55, ../sass/screen.scss */
.teste {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 50%;
}

/* line 62, ../sass/screen.scss */
.img {
  width: 70%;
  top: 50%;
}

/* line 67, ../sass/screen.scss */
.detail {
  background-color: #FDB83A;
}

/* line 71, ../sass/screen.scss */
h1 {
  justify-content: center;
  text-align: center;
}

/* line 76, ../sass/screen.scss */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

/* line 86, ../sass/screen.scss */
.popup {
  margin: 10% auto;
  width: 70%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 15px 20px rgba(0, 0, 0, 0.5);
  padding: 1em;
}

/* line 95, ../sass/screen.scss */
.btnClose {
  float: right;
  cursor: pointer;
}

/* line 101, ../sass/screen.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 106, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 111, ../sass/screen.scss */
.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

/* line 117, ../sass/screen.scss */
.menu-title {
  display: block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

/* line 130, ../sass/screen.scss */
.menu-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9dc852;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

/* line 143, ../sass/screen.scss */
.menu-title:hover {
  background: #8db842;
}

/* line 147, ../sass/screen.scss */
.menu-title:hover:before {
  border-top-color: #8db842;
}

/* line 151, ../sass/screen.scss */
.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

/* line 156, ../sass/screen.scss */
.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

/* line 170, ../sass/screen.scss */
.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

/* line 175, ../sass/screen.scss */
.menu-title_2nd {
  background: #4e96b3;
}

/* line 179, ../sass/screen.scss */
.menu-title_2nd:hover {
  background: #3e86a3;
}

/* line 183, ../sass/screen.scss */
.menu-title_2nd:before {
  border-top-color: #4e96b3;
}

/* line 187, ../sass/screen.scss */
.menu-title_2nd:hover:before {
  border-top-color: #3e86a3;
}

/* line 191, ../sass/screen.scss */
.menu-title_3rd {
  background: #c97676;
}

/* line 195, ../sass/screen.scss */
.menu-title_3rd:hover {
  background: #b96666;
}

/* line 199, ../sass/screen.scss */
.menu-title_3rd:before {
  border-top-color: #c97676;
}

/* line 203, ../sass/screen.scss */
.menu-title_3rd:hover:before {
  border-top-color: #b96666;
}

/* line 207, ../sass/screen.scss */
.menu-title_4th {
  background: #dbab58;
}

/* line 211, ../sass/screen.scss */
.menu-title_4th:hover {
  background: #cb9b48;
}

/* line 215, ../sass/screen.scss */
.menu-title_4th:before {
  border-top-color: #dbab58;
}

/* line 219, ../sass/screen.scss */
.menu-title_4th:hover:before {
  border-top-color: #cb9b48;
}

/* line 223, ../sass/screen.scss */
.menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition: 0.5s padding, 0.5s background;
}

/* line 232, ../sass/screen.scss */
.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

/* line 244, ../sass/screen.scss */
.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 99;
}

/* line 250, ../sass/screen.scss */
.menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

/* line 254, ../sass/screen.scss */
.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

/* line 258, ../sass/screen.scss */
.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: transparent;
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

/* line 267, ../sass/screen.scss */
.menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 271, ../sass/screen.scss */
.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 99;
}

/* line 282, ../sass/screen.scss */
.dep {
  margin-left: 4%;
  text-decoration: none;
}

/* line 287, ../sass/screen.scss */
.dest {
  margin-right: 10%;
  text-decoration: none;
}

/* line 292, ../sass/screen.scss */
.dis {
  justify-content: center;
  text-align: center;
  margin-left: 15%;
  margin-top: 2%;
}

/* line 299, ../sass/screen.scss */
.dev {
  margin-left: 14%;
}

/* line 303, ../sass/screen.scss */
.footer {
  background-color: #1C3C58;
  margin-top: 10%;
}

/* line 308, ../sass/screen.scss */
.nomBurger {
  width: 100%;
}

/* line 312, ../sass/screen.scss */
.prix {
  width: 100%;
}

/* line 316, ../sass/screen.scss */
.btn {
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
}

/* line 323, ../sass/screen.scss */
.ajout {
  background-color: #EAE7D6;
  height: 40vh;
}

/* line 328, ../sass/screen.scss */
.add {
  background-color: #FDB83A;
  color: #FFFFFF;
}

/* line 333, ../sass/screen.scss */
h1 {
  background-color: #FDB83A;
  color: #FFFFFF;
}

/* line 338, ../sass/screen.scss */
section {
  display: block;
}

/* line 342, ../sass/screen.scss */
element.style {
  background-image: url(images/bg-intro-01.jpg);
  background-position: center -234px;
}

/* line 347, ../sass/screen.scss */
.header-intro {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 354, ../sass/screen.scss */
.t-center {
  text-align: center;
}

/* line 358, ../sass/screen.scss */
.p-b-158 {
  padding-bottom: 158px;
}

/* line 362, ../sass/screen.scss */
.p-t-135 {
  padding-top: 135px;
}

/* line 366, ../sass/screen.scss */
.p-t-30 {
  padding-top: 30px;
}

/* line 370, ../sass/screen.scss */
.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

/* line 376, ../sass/screen.scss */
.p-t-35 {
  padding-top: 35px;
}

/* line 380, ../sass/screen.scss */
.hov-img-zoom {
  display: block;
  overflow: hidden;
}

/* line 385, ../sass/screen.scss */
.bo-rad-10 {
  border-radius: 10px;
}

/* line 389, ../sass/screen.scss */
.hov-img-zoom img {
  width: 100%;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

/* line 397, ../sass/screen.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 402, ../sass/screen.scss */
.txt5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 411, ../sass/screen.scss */
.trans-0-4 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 418, ../sass/screen.scss */
.m-b-13 {
  margin-bottom: 13px;
}

/* line 422, ../sass/screen.scss */
.m-b-20 {
  margin-bottom: 20px;
}

/* line 426, ../sass/screen.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* line 430, ../sass/screen.scss */
.ajout {
  background-color: #EAE7D6;
  height: 40vh;
}

/* line 435, ../sass/screen.scss */
.add {
  background-color: #FDB83A;
  color: #FFFFFF;
}

/* line 440, ../sass/screen.scss */
h1 {
  background-color: #FDB83A;
  color: #FFFFFF;
}

/* line 445, ../sass/screen.scss */
.hp {
  background-color: #EAE7D6;
  height: 60vh;
}

/* line 450, ../sass/screen.scss */
.ig {
  margin-top: 3%;
}
