{% extends 'base.html.twig' %} {% block menu %} {{ parent() }} {% endblock %} {% block body %}
<table>
    <thead>
        <tr>
            <th>NOM BURGER</th>
            <th>PRIX BURGER</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        {% for burgs in burg %}
        <tr>
            <td><strong>{{burgs.nomBurger}}</strong></td>
            <td>{{burgs.prix}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}