{% extends 'base.html.twig' %} {% block title %}Hello ChambreController!{% endblock %} {% block body %}
<div class="container w-50 bg- card center mt-4 ajout">
    <h1 class="mt-4">Ajout Menu</h1>
    {{ form(form) }}

</div>
<style>
    .ajout {
        background-color: #EAE7D6;
        height: 40vh;
    }
    
    .add {
        background-color: #FDB83A;
        color: #FFFFFF;
    }
    
    h1 {
        background-color: #FDB83A;
        color: #FFFFFF;
    }
</style> {% endblock %}